# name_of_the_file_app.py
FLASK_APP=app.py
# set to 1 to have auto reload + more details 
FLASK_DEBUG=1
# default values are -4, 32, 0, 640, 450
EXPOSURE_DEFAULT_VALUE = -4
SATURATION_DEFAULT_VALUE = 32
DEFAULT_CAMERA = 0
STREAM_WIDTH = 640
STREAM_HEIGHT = 450