$cr_dark_blue: #122d53;
$cr_blue: #4674b2;
$green_play: #4fa165;
$img_border_size: 32px;
$border_radius_size: 12px;
$padding_size: 3%;
$font_size: 1.5vw;
$outline_size: 4px;

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  overflow: hidden;
  @include flex-col;

  #main_content {
    @include flex-col;
    width: 100%;

    h1 {
      color: $cr_blue;
      font-size: $font_size * 3.5;
      @media (max-height: 450px) {
        display: none;
      }
      @media (min-width: 875px) {
        font-size: 46px;
      }
    }

    #television_container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      #other_parameters_tabs {
        display: flex;
        flex-direction: column;
        padding-left: $outline_size/2;
        padding-top: $img_border_size;
        @media (max-height: 500px) {
          padding-top: $img_border_size/2;
        }
        button {
          outline: $outline_size/2 solid black;
          background: $cr_dark_blue;
          border-radius: $border_radius_size/2;
          color: white;
          cursor: pointer;
          span {
            writing-mode: vertical-rl;
            font-size: $font_size * 1.5;
            @media (min-width: 1200px) {
              font-size: 16px;
            }
          }
        }
      }
      #camera_container {
        display: flex;
        flex-direction: column;
        width: 70%;
        max-width: 700px;
        position: relative;
        #snackbar {
          outline: $outline_size/2 solid black;
          background: $cr_dark_blue;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0%);
          margin-top: $img_border_size + 6px;
          width: 25%;
          padding: $padding_size/3 $padding_size;
          transition: opacity 0.5s, transform 1s;
          color: white;
          opacity: 0;
          visibility: hidden;
          border-radius: $border_radius_size/2;
          font-size: $font_size;
          text-align: center;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
            rgba(0, 0, 0, 0.22) 0px 10px 10px;
          z-index: 1;
          @media (max-height: 500px) {
            margin-top: 2 * $img_border_size/3;
          }
          @media (min-width: 1400px) {
            font-size: 16px;
            padding: 4px;
          }
        }
        #settings_info_box {
          display: none;
          position: absolute;
          width: 38%;
          flex-direction: column;
          gap: 2px;
          background: black;
          color: white;
          opacity: 0.7;
          right: 0;
          margin-top: $img_border_size;
          margin-right: $img_border_size;
          font-size: $font_size;
          padding: 8px;
          @media (min-width: 950px) {
            font-size: 14px;
          }
        }
        #buttons_container {
          display: flex;
          justify-content: space-between;
          padding: $padding_size;
          background: $cr_dark_blue;
          border-radius: $border_radius_size;
          outline: $outline_size solid black;
          aspect-ratio: 10/1;
          @media (max-height: 500px) {
            padding: $padding_size/3;
          }
          #click_button_list {
            display: flex;
            padding-left: 10%;
            gap: 35%;
            button {
              aspect-ratio: 6/5;
              cursor: pointer;
              font-weight: 700;
              display: flex;
              align-items: center;
              gap: 6px;
              font-size: $font_size;
              transition-duration: 0.5s;
              justify-content: center;
              &#camera_play_button {
                color: white;
                border-radius: $border_radius_size;
                background-color: $green_play;
              }

              &#camera_shot_button {
                color: $cr_blue;
                border-radius: $border_radius_size;
              }
              span {
                @media (max-width: 500px) {
                  display: none;
                }
              }
            }
          }
          #drag_button_list {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 10%;
            .setting_button_container {
              display: flex;
              gap: 4px;
              align-items: center;
              justify-content: right;
              @media (max-width: 750px) {
                gap: 8px;
              }
              input[type="range"] {
                height: 30%;
                @media (max-width: 750px) {
                  display: none;
                }
              }
              button {
                @media (min-width: 750px) {
                  display: none;
                }
              }
              span {
                color: white;
                font-size: 14px;
                white-space: nowrap;
                @media (max-width: 750px) {
                  font-size: 1.5vw;
                }
              }

              #setting_click_buttons {
                display: flex;
                @media (max-width: 750px) {
                  gap: 4px;
                }
                button {
                  border-radius: 6px;
                  aspect-ratio: 4/1;
                  padding: 1px;
                  span {
                    color: #122d53;
                    font-size: 2vw;
                  }
                }
              }
            }
          }
        }
      }

      img {
        border-radius: 3 * $border_radius_size;
        border: $img_border_size solid $cr_dark_blue;
        outline: $outline_size solid black;
        aspect-ratio: 10/7;
        @media (max-height: 500px) {
          aspect-ratio: 16/8;
          border: $img_border_size/2 solid $cr_dark_blue;
        }
      }
    }
  }
}
