$cr_dark_blue: #122d53;
$cr_blue: #4674b2;
$green_play: #4fa165;
$img_border_size: 32px;
$border_radius_size: 12px;
$padding_size: 3%;
$font_size: 1.5vw;
$outline_size: 4px;
$base_gap: 4px;

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  overflow: hidden;
  @include flex-col;
  min-height: 100vh;
  @media (max-width: 760px) {
    justify-content: center;
  }

  #main_content {
    @include flex-col;
    width: 100%;

    h1 {
      color: $cr_blue;
      font-size: $font_size * 3.5;
      @media (max-height: 545px), (max-width: 760px) {
        display: none;
      }
      @media (min-width: 875px) {
        font-size: 46px;
      }
    }
    #television_list {
      display: flex;
      width: 100%;
      gap: $base_gap * 5;
      @media (max-width: 760px) {
        flex-direction: column;
        gap: $base_gap * 3;
        align-items: center;
      }
    }
    .television_container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      @media (max-width: 760px) {
        width: 70%;
      }
      @media (max-width: 470px) {
        width: 100%;
      }
      #other_parameters_tabs {
        display: flex;
        flex-direction: column;
        padding-left: $outline_size/2;
        padding-top: $img_border_size;
        button {
          outline: $outline_size/2 solid black;
          background: $cr_dark_blue;
          border-radius: $border_radius_size/2;
          color: white;
          cursor: pointer;
          padding: 4px;
          span {
            writing-mode: vertical-rl;
            font-size: $font_size;
            @media (min-width: 1200px) {
              font-size: 16px;
            }
          }
        }
      }
      .camera_container {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        position: relative;
        width: 100%;
        #snackbar {
          outline: $outline_size/2 solid black;
          background: $cr_dark_blue;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0%);
          margin-top: $img_border_size + 6px;
          width: 25%;
          padding: $padding_size/3 $padding_size;
          transition: opacity 0.5s, transform 1s;
          color: white;
          opacity: 0;
          visibility: hidden;
          border-radius: $border_radius_size/2;
          font-size: $font_size;
          text-align: center;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
            rgba(0, 0, 0, 0.22) 0px 10px 10px;
          z-index: 1;
          @media (min-width: 1400px) {
            font-size: 16px;
            padding: 4px;
          }
        }
        #settings_info_box {
          display: none;
          position: absolute;
          width: 38%;
          flex-direction: column;
          gap: $base_gap/2;
          background: black;
          color: white;
          opacity: 0.7;
          right: 0;
          margin-top: $img_border_size;
          margin-right: $img_border_size;
          font-size: $font_size;
          padding: 8px;
          @media (min-width: 950px) {
            font-size: 14px;
          }
        }
        #buttons_container {
          display: flex;
          justify-content: center;
          padding: $padding_size;
          background: $cr_dark_blue;
          border-radius: $border_radius_size;
          outline: $outline_size solid black;
          aspect-ratio: 10/1;
          #click_button_list {
            display: flex;
            gap: $base_gap * 3;
            justify-content: right;
            #processing_buttons_container {
              display: flex;
              gap: $base_gap * 2;
            }
            button {
              aspect-ratio: 7/5;
              cursor: pointer;
              font-weight: 700;
              display: flex;
              align-items: center;
              gap: $base_gap;
              font-size: $font_size/2;
              justify-content: center;
              border-radius: $border_radius_size;
              box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
              min-width: 42px;
              padding: 12px;
              @media (max-width: 1140px) {
                font-size: $font_size * 1.5;
              }
              &:active {
                transform: translateY(2px);
                box-shadow: unset;
              }
              &#camera_play_button {
                color: white;
                background-color: $green_play;
              }

              &#camera_shot_button {
                color: $cr_blue;
              }

              .main_text {
                @media (max-width: 1140px) {
                  display: none;
                }
              }
              .short_text {
                @media (min-width: 1140px) {
                  display: none;
                }
              }
            }
          }
          #drag_button_list {
            display: flex;
            justify-content: center;
            gap: $base_gap * 3;
            @media (max-width: 1000px) and (min-width: 760px) {
              flex-direction: column;
            }
            #size_buttons_container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: $base_gap * 2;
              @media (max-width: 750px) {
                flex-direction: row;
              }
            }

            .setting_button_container,
            .operation_button_container {
              display: flex;
              gap: $base_gap;
              align-items: center;
              justify-content: right;
              @media (max-width: 750px) {
                gap: $base_gap * 2;
              }
              input[type="range"] {
                height: 30%;
                @media (max-width: 750px) {
                  display: none;
                }
              }
              button {
                @media (min-width: 750px) {
                  display: none;
                }
              }
              span {
                color: white;
                white-space: nowrap;
                @media (max-width: 750px) {
                  font-size: $font_size * 1.5;
                }
              }

              .setting_click_buttons,
              .operation_click_buttons {
                display: flex;
                @media (max-width: 750px) {
                  gap: $base_gap;
                }
                button {
                  border-radius: 6px;
                  aspect-ratio: 4/1;
                  padding: 1px;
                  span {
                    color: #122d53;
                    font-size: 2vw;
                  }
                }
              }
            }
            .operation_button_container {
              @media (max-width: 500px) {
                gap: $base_gap;
              }
              span {
                @media (max-width: 500px) {
                  font-size: $font_size;
                }
              }
              .operation_click_buttons {
                @media (max-width: 500px) {
                  gap: $base_gap/4;
                }
              }
            }
          }
        }
      }

      .camera_feed_container {
        border-radius: 3 * $border_radius_size;
        border: $img_border_size solid $cr_dark_blue;
        outline: $outline_size solid black;
        aspect-ratio: 10/7;
        overflow: hidden;
        text-align: center;
        background: black;
        img {
          height: 100%;
          width: 100%;
          touch-action: none;
        }
      }
    }
  }
}
