$cr_dark_blue: #122d53;
$cr_blue: #4674b2;

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  @include flex-col;

  #main_content {
    @include flex-col;
    width: 100%;

    h1 {
      color: $cr_blue;
    }

    #camera_container {
      display: flex;
      flex-direction: column;
      aspect-ratio: 10/7;
      div {
        display: flex;
        justify-content: space-evenly;
        padding: 24px 0;
        background: $cr_dark_blue;
        border-radius: 12px;
        outline: 4px solid black;

        button {
          aspect-ratio: 6/5;
          cursor: pointer;
          font-weight: 700;
          display: flex;
          align-items: center;
          gap: 6px;
          font-size: medium;
          &#camera_play_button {
            color: white;
            border-radius: 12px;
            background-color: #4fa165;
          }

          &#camera_shot_button {
            color: $cr_blue;
            border-radius: 12px;
          }
        }
      }
    }

    img {
      border-radius: 36px;
      border: 2rem solid $cr_dark_blue;
      outline: 4px solid black;
      aspect-ratio: 10/7;
    }
  }
}
